.driver-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.driver-request {
    /* border: 2px solid black; */
    width: 50%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    display:table;
}

.driver-confirm {
    color: white;
    background-color: #2ecc71;
    text-decoration: none;
    border: none;
    width: 70px;
    height: 50px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.driver-confirm:hover {
    opacity: 80%;
    color: white;
    animation: 0.2s bounce ease-in-out 0s;
    text-decoration: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.driver-deny {
    color: white;
    background-color: #CF2323;
    border: none;
    width: 70px;
    height: 50px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.driver-deny:hover {
    opacity: 80%;
    animation: 0.2s bounce ease-in-out 0s;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    cursor: pointer;
}