.card-container {
    width: 90%;
    gap: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 45%;
    max-width: 550px;
    min-width: 450px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
   
}

@media screen and (max-width: 1333px) {
    .card-container {
        justify-content: center;
    }
    .card {
        min-width: 500px;
    }
}

.card:hover {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    cursor: pointer;
}

.leftside-card {
    width: 50%;
    margin: auto 0;
}

.leftside-card img {
    height: 150px;
}

.rightside-card-store {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.name-add-store {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-store {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

.rightside-card-store button {
    background-color: #74B88D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
}

.rightside-card-store button:hover {
    opacity: 80%;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}